<!--MOLECULE BASIC INFORMATION-->
<table class="mdl-data-table mdl-shadow--2dp">
  <tr>
    <th>Structure</th>
    <td>
      <app-jsme [elementId]="'molecule-structure'"
                [width]="200"
                [height]="200"
                [option]="'depict nozoom noshowdraganddropsymbolindepictmode'"
                [molString]="moleculeDictionary?.molregno | molregnoToSmiles | async"
      >
      </app-jsme>
    </td>
    <ng-container *ngIf="phinMolecule !== undefined">
      <th>
        <button mat-button color="primary" appViewPageById [idType]="'scaffold'"
                pageId="{{phinMolecule?.scaffold?.scaffold_id}}">Scaffold
        </button>
      </th>
      <td class="mdl-data-table__cell--non-numeric">
        <app-jsme [elementId]="'scaffold-structure'"
                  [width]="200"
                  [height]="200"
                  [option]="'depict nozoom noshowdraganddropsymbolindepictmode'"
                  [molString]="phinMolecule?.scaffold.smiles"
        >
        </app-jsme>
      </td>
    </ng-container>
    <ng-container
      *ngIf="moleculeHierarcy !== undefined && moleculeHierarcy.parent_molregno !== moleculeDictionary.molregno">
      <th>
        <button mat-button color="primary" appViewPageById [idType]="'molecule'"
                pageId="{{moleculeHierarcy.parent_molregno}}">Parent
        </button>
      </th>
      <td class="mdl-data-table__cell--non-numeric">
        <app-jsme [elementId]="'scaffold-structure'"
                  [width]="200"
                  [height]="200"
                  [option]="'depict nozoom noshowdraganddropsymbolindepictmode'"
                  [molString]="moleculeHierarcy?.parent_molregno | molregnoToSmiles | async"
        >
        </app-jsme>
      </td>
    </ng-container>
  </tr>
  <tr>
    <th>Molecule Name:</th>
    <td class="mdl-data-table__cell--non-numeric">
      <b>
        {{moleculeDictionary?.pref_name}}
        <a href="{{moleculeDictionary?.chembl | webLink: 'chembl-molecule'}}">
        {{moleculeDictionary?.chembl}}
      </a>
      </b>
    </td>
  </tr>
  <tr>
    <th>Type:</th>
    <td class="mdl-data-table__cell--non-numeric">
      {{moleculeDictionary?.molecule_type}}
    </td>
  </tr>
  <tr>
    <th>No. of Activities Reported:</th>
    <td class="mdl-data-table__cell--non-numeric">{{moleculeDictionary?.activities_count}}</td>
  </tr>
</table>
<nav mat-tab-nav-bar>
  <a mat-tab-link
     [routerLink]="'molecule-activity'"
     routerLinkActive #rat="routerLinkActive"
     [active]="rat.isActive">Activity table</a>
  <a mat-tab-link
     [routerLink]="'molecule-graph'"
     routerLinkActive #rag="routerLinkActive"
     [active]="rag.isActive">Graph</a>
  <a mat-tab-link
     [routerLink]="'mmp'"
     routerLinkActive #ram="routerLinkActive"
     [active]="ram.isActive">MMP</a>
  <a mat-tab-link
     [routerLink]="'network-datatable'"
     routerLinkActive #rant="routerLinkActive"
     [active]="rant.isActive">Related molecules</a>
</nav>
<router-outlet></router-outlet>
