<div>
  <div *ngIf="isLoading || isLoadingError" class="table-loading-shade">
    <mat-progress-bar mode="query" color="accent" *ngIf="isLoading"></mat-progress-bar>
    <!--todo: loading error-->
  </div>
  <mat-table #targetTable [dataSource]="dataSource"
             class="data-table mdl-data-table mdl-js-data-table mdl-shadow--2dp"
             matSort matSortDisableClear matSortDirection="asc">
    <ng-container matColumnDef="transform">
      <mat-header-cell *matHeaderCellDef
      >Transform
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <app-jsme [elementId]="row.id"
                  [width]="400"
                  [height]="100"
                  [option]="'depict nozoom noshowdraganddropsymbolindepictmode useopenchemlib'"
                  [molString]="row.transform | rmAsterisk"
        >
        </app-jsme>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="core">
      <mat-header-cell *matHeaderCellDef>Core structure</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.core}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="LHMol">
      <mat-header-cell *matHeaderCellDef>LH molecule</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <app-jsme [elementId]="row.id + row.LHMol + 'L'"
                  [width]="200"
                  [height]="100"
                  [option]="'depict nozoom noshowdraganddropsymbolindepictmode useopenchemlib'"
                  [molString]="row.LHMol | molregnoToSmiles | async"
        >
        </app-jsme>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="activity">
      <mat-header-cell *matHeaderCellDef>Activity(pChEMBL value)</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.LHAct}} <i class="material-icons">trending_flat</i> {{row.RHAct}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="RHMol">
      <mat-header-cell *matHeaderCellDef>RH molecule</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <app-jsme [elementId]="row.id + row.RHMol + 'R'"
                  [width]="200"
                  [height]="100"
                  [option]="'depict nozoom noshowdraganddropsymbolindepictmode useopenchemlib'"
                  [molString]="row.RHMol | molregnoToSmiles | async"
        >
        </app-jsme>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="LHAssay">
      <mat-header-cell *matHeaderCellDef>LH Assay</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" (click)="gotoAssay(row.LHAssay)">{{row.LHAssay}}</button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="RHAssay">
      <mat-header-cell *matHeaderCellDef mat-sort-header>RH Assay</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" (click)="gotoAssay(row.RHAssay)">{{row.RHAssay}}</button></mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="pageMeta?.total_results"
                 [pageSize]="pageMeta?.per_page"
                 [pageSizeOptions]="pageSizeOptions"
  >
  </mat-paginator>
</div>
