<!--todo delete, used for testing-->
<!--<span>{{chembl_name}}</span>-->
<!--<span >-->
  <!--<button mat-button color="primary"  (click)="klose(); goMoleculeDetail()"-->
  <!--&gt;{{chembl_name}}-->
  <!--</button>-->
<!--</span>-->

<span >
  <button mat-button color="primary"  (click)="klose()"
          appViewPageById pageId="{{molregno}}" idType="molecule"
  >{{chembl_name}}
  </button>
</span>

<span class="close" (click)="klose()"> &times; </span>
<hr>
<app-jsme [elementId]="1"
          [width]="200"
          [height]="180"
          [option]="'depict nozoom noshowdraganddropsymbolindepictmode'"
          [molString]="smile"
>
</app-jsme>

