<div class="table-section-container">
  <div *ngIf="isLoading" class="table-loading-container">
  <mat-progress-bar mode="query" color="accent" ></mat-progress-bar>
  <!--todo: loading error-->
  </div>
  <mat-table #activityTable [dataSource]="dataSource"
             class="data-table mdl-data-table mdl-js-data-table mdl-shadow--2dp"
             matSort matSortActive="molregno" matSortDisableClear matSortDirection="asc"
  >
    <ng-container matColumnDef="molregno">
      <mat-header-cell *matHeaderCellDef
      >Molecule
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <app-jsme [elementId]="'activity_' + row.activity_id"
                  [width]="structureSize?.width"
                  [height]="structureSize?.height"
                  [option]="'depict nozoom noshowdraganddropsymbolindepictmode'"
                  [molString]="row.molregno | molregnoToSmiles | async"
        >
        </app-jsme>
        <button mat-button color="primary" appViewPageById idType="molecule" pageId={{row.molregno}}>
          {{row.molregno}}
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="target_pref_name">
      <mat-header-cell *matHeaderCellDef
                       disableClear="true"
      >Target name
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="mdl-data-table__cell--non-numeric">
        <button mat-button color="primary" appViewPageById [idType]="'target'" pageId="{{getAssay(row.assay)?.tid}}">
          {{getTarget(getAssay(row.assay)?.tid)?.pref_name}}
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="standard_type">
      <mat-header-cell *matHeaderCellDef
                       mat-sort-header
                       disableClear="true"
                       matTooltipDisabled="{{tooltipDisabled}}"
                       matTooltip={{activityTooltips.standard_type}}
      >Standard type*
      </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.standard_type}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="data_validity_comment">
      <mat-header-cell *matHeaderCellDef
                       mat-sort-header
                       disableClear="true"
      >Validity Comment*
      </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.data_validity_comment}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="standard_relation">
      <mat-header-cell *matHeaderCellDef
                       mat-sort-header
                       disableClear="true"
                       matTooltipDisabled="{{tooltipDisabled}}"
                       matTooltip={{activityTooltips.standard_relation}}
      >Standard relation*
      </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.standard_relation}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="chembl">
      <mat-header-cell *matHeaderCellDef
                       matTooltipDisabled="{{tooltipDisabled}}"
                       matTooltip={{activityTooltips.chembl}}
      >Assay ChEMBL ID</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a color="primary" appViewPageById pageId="{{row.assay}}" [idType]="'assay'">
          {{getAssay(row.assay)?.chembl}}
        </a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="assay_type">
      <mat-header-cell *matHeaderCellDef
      >Assay type
      </mat-header-cell>
      <mat-cell *matCellDef="let row">{{getAssay(row.assay)?.assay_type}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="pchembl_value">
      <mat-header-cell *matHeaderCellDef
                       mat-sort-header
                       disableClear="true"
                       matTooltipDisabled="{{tooltipDisabled}}"
                       matTooltip={{activityTooltips.pchembl_value}}
      >pChEMBL value*
      </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.pchembl_value}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="uo_units">
      <mat-header-cell *matHeaderCellDef>UO Units</mat-header-cell>
      <mat-cell *matCellDef="let row"
                matTooltipDisabled="{{tooltipDisabled}}"
                matTooltip={{activityTooltips.uo_units}}
      >{{row.uo_units}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="standard_value">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Standard value*</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-container *ngIf="row.standard_value">
          {{row.standard_value}}({{row.standard_units}})
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="assay">
      <mat-header-cell *matHeaderCellDef matTooltip="click to view corresponding assay">Assay</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="accent" appViewPageById idType="assay" pageId="{{row.assay}}">
          {{row.assay}}
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="doc">
      <mat-header-cell *matHeaderCellDef>Reference</mat-header-cell>
      <mat-cell *matCellDef="let row" (click)="openDocDialog(row.doc)">
        <button mat-button color="accent">{{row.doc | docIdtoJournal | async}}</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="bao_endpoint">
      <mat-header-cell *matHeaderCellDef>Bao Endpoint</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.bao_endpoint}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="published_value">
      <mat-header-cell *matHeaderCellDef>Published Value</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.published_value}}({{row.published_units}})
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="published_relation">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Published Relation*</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.published_relation}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ligandeff">
      <mat-header-cell *matHeaderCellDef
      >Ligandeff</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.ligandff}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="standard_flag">
      <mat-header-cell *matHeaderCellDef mat-sort-header
                       matTooltipDisabled="{{tooltipDisabled}}"
                       matTooltip={{activityTooltips.standard_flag}}
      >Standard Flag*</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.standard_flag}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="published_type">
      <mat-header-cell *matHeaderCellDef mat-sort-header
                       matTooltipDisabled="{{tooltipDisabled}}"
                       matTooltip={{activityTooltips.published_type}}
      >Published Type*</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.published_type}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="activity_comment">
      <mat-header-cell *matHeaderCellDef mat-sort-header
                       matTooltipDisabled="{{tooltipDisabled}}"
                       matTooltip={{activityTooltips.activity_comment}}
      >Activity Comment*</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.activity_comment}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div>
    <div class="mdl-grid mdl-grid--no-spacing">
      <mat-form-field class="mdl-cell mdl-cell--2-col">
        <mat-select placeholder="Custom displayed columns" multiple [(ngModel)]="displayedColumns">
          <mat-option *ngFor="let column of allColumns" [value]="column">
            {{column}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="mdl-cell mdl-cell--5-col mdl-typography--text-center">
        <h5 class="mat-header-cell">
          <b>{{tableTitle}}</b>
        </h5>
      </div>
      <div class="mdl-cell mdl-cell--5-col">
        <mat-paginator [length]="pageMeta?.total_results"
                       [pageSize]="pageMeta?.per_page"
                       [pageSizeOptions]="pageSizeOptions"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
