<table class="mdl-data-table mdl-shadow--2dp">
  <tr>
    <th>Scaffold structure</th>
    <td>
      <app-jsme [elementId]="'scaffold-detail'"
                [width]="200"
                [height]="200"
                [option]="'depict nozoom noshowdraganddropsymbolindepictmode'"
                [molString]="scaffold?.smiles"
      >
      </app-jsme>
    </td>
  </tr>
  <tr>
    <th>Number of molecules</th>
    <td class="mdl-data-table__cell--non-numeric">
      <b>
        {{scaffold?.molecule_set.length}}
      </b>
    </td>
  </tr>
  <!--<tr>-->
    <!--<th>Type:</th>-->
    <!--<td class="mdl-data-table__cell&#45;&#45;non-numeric">-->
      <!--{{moleculeDictionary?.molecule_type}}-->
    <!--</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th>No. of Activities Reported:</th>-->
    <!--<td class="mdl-data-table__cell&#45;&#45;non-numeric">{{moleculeDictionary?.activities_count}}</td>-->
  <!--</tr>-->
</table>
<!--SUB ROUTER OUTLET-->
<nav mat-tab-nav-bar>
  <a mat-tab-link
     [routerLink]="'molecules'"
     routerLinkActive #rat="routerLinkActive"
     [active]="rat.isActive">Molecule table</a>
  <a mat-tab-link
     [routerLink]="'activities'"
     routerLinkActive #rag="routerLinkActive"
     [active]="rag.isActive">Activity table</a>
</nav>
<router-outlet></router-outlet>
