<md-toolbar color="primary">
  <span class="sidenav-toggle">
    <button md-mini-fab (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
  </span>
  <span>ChEMBL Data Explorer</span>
</md-toolbar>
<!--PROGRESS BAR-->
<md-progress-bar *ngIf="loadingStatus"
                 mode="query"
                 color="accent"
                 class="global-progress-bar"
></md-progress-bar>
<!--SIDE PANEL-->
<md-sidenav-container class="sidenav-fab-container">
  <md-sidenav #sidenav mode="side" opened="true">
    <div class="scrolling-content">
      <md-tab-group>
        <!--SEARCH-->
        <md-tab>
          <ng-template md-tab-label>
            <md-icon>search</md-icon>
            Search
          </ng-template>
          <md-accordion class="headers-align">
            <!--KEYWORD SEARCH-->
            <md-expansion-panel [expanded]="true">
              <md-expansion-panel-header>
                <md-panel-title>
                  Keyword search
                </md-panel-title>
                <md-panel-description>
                  Search targets/molecules by ChEMBL id or keywords.
                </md-panel-description>
              </md-expansion-panel-header>
              <app-keyword-search></app-keyword-search>
            </md-expansion-panel>
            <!--STRUCTURE SEARCH-->
            <md-expansion-panel>
              <md-expansion-panel-header>
                <md-panel-title>
                  Structure search
                </md-panel-title>
                <md-panel-description>
                  Search molecules by drawing molecular structure.
                </md-panel-description>
              </md-expansion-panel-header>
              <app-jsme [elementId]="'jsme-demo-id'"
                        #applet
                        [width]="400" [height]="300"
                        [showDemo]="true"
              >loading JSME widget
              </app-jsme>
            </md-expansion-panel>
            <!--TARGETS BROWSE-->
            <md-expansion-panel>
              <md-expansion-panel-header>
                <md-panel-title>
                  Browse targets
                </md-panel-title>
                <md-panel-description>
                  Browse targets
                </md-panel-description>
              </md-expansion-panel-header>
              Browse targets
            </md-expansion-panel>
          </md-accordion>
        </md-tab>
        <!--OPTIONS-->
        <md-tab>
          <ng-template md-tab-label>
            <md-icon>build</md-icon>
            Options
          </ng-template>
          Options
        </md-tab>
      </md-tab-group>
    </div>
  </md-sidenav>
  <div class="scrolling-content">
    <!--RESULT ENTITY LIST OR ENTITY DETAIL-->
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>