
.sidenav-fab-container {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.chep-sidenav {
  width: 100%;
}
.cheb-main-content {
  min-height: 800px;
}

.sidenav-fab-container mat-sidenav {
  width: 400px;
}

.sidenav-fab-container .mat-sidenav-content,
.sidenav-fab-container mat-sidenav {
  display: flex;
  /*overflow: visible;*/
}

.scrolling-content {
  overflow: auto;
}

.sidenav-toggle {
  margin-right: 10px;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
