<mat-toolbar color="primary">
  <span class="sidenav-toggle">
    <button mat-mini-fab (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </span>
  <span>ChEMBL Data Explorer</span>
</mat-toolbar>
<!--PROGRESS BAR-->
<!--<mat-progress-bar *ngIf="loadingStatus$ | async"-->
                 <!--mode="query"-->
                 <!--color="accent"-->
                 <!--class="global-progress-bar"-->
<!--&gt;</mat-progress-bar>-->
<!--SIDE PANEL-->
<mat-sidenav-container class="sidenav-fab-container">
  <mat-sidenav #sidenav mode="side" opened="true">
    <div class="scrolling-content">
      <mat-tab-group>
        <!--SEARCH-->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>search</mat-icon>
            Search
          </ng-template>
          <mat-accordion class="headers-align">
            <!--KEYWORD SEARCH-->
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Keyword search
                </mat-panel-title>
                <mat-panel-description>
                  Search targets/molecules by ChEMBL id or keywords.
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-keyword-search></app-keyword-search>
            </mat-expansion-panel>
            <!--STRUCTURE SEARCH-->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Structure search
                </mat-panel-title>
                <mat-panel-description>
                  Search molecules by drawing molecular structure.
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-jsme [elementId]="'jsme-demo-id'"
                        #applet
                        [width]="380" [height]="350"
                        [showDemo]="true"
                        [option]=""
              >loading JSME widget
              </app-jsme>
              <p>{{applet.smiles}}</p>
            </mat-expansion-panel>
            <!--TARGETS BROWSE-->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Browse targets
                </mat-panel-title>
                <mat-panel-description>
                  Browse targets
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-jstree
                [elementId]="'target-tree'">
                loading...</app-jstree>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-tab>
        <!--OPTIONS-->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>device_hub</mat-icon>
            Network
          </ng-template>
          Network
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-sidenav>
  <div class="scrolling-content">
    <!--RESULT ENTITY LIST OR ENTITY DETAIL-->
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>