<div class="home-content mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h4>Bioactivity-explorer
    </h4>
    <mat-divider></mat-divider>
  </div>
  <div class="mdl-cell mdl-cell--12-col">
    <mat-card>
      <mat-card-header class="card-header">
        <mat-card-title>
          <h6>Bioactivity-explorer architecture
            <mat-divider></mat-divider>
          </h6>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/img/chembl-explorer-architecture.jpg" alt="architecture">
      <mat-card-content>
        <mat-divider></mat-divider>
        <p class="card-content">
          Bioactivity-explorer is a web application for interactive visualization and exploration of
          large-scale bioactivity data in <a href="https://www.ebi.ac.uk/chembl/" target="_blank">ChEMBL database</a> (V24)
          . Bioactivity-explorer was developed not intend to be a substitution of the official ChEMBL web site, but a
          extensive use of ChEMBL
          by discovering patterns in large-scale bioactivity data, and provides intuitive visualization
          of bioactivity data. We have open sourced Bioactivity-explorer, so that user who interest in building a
          local version or getting involved in developing can found both the frontend and the backend at our
          github repository(<a target="_blank" href="https://github.com/jianping-grp/ng-b17r">ng-b17r</a>
          and <a href="https://github.com/jianping-grp/b17r" target="_blank">b17r</a>).
        </p>
        <p>
          Your feedback is very helpful, please share your opinion and thoughts with us.

          <mat-list-item>
            <mat-icon>email</mat-icon>
            zhonghua.wang(AT)mail.nankai.edu.cn
          </mat-list-item>
          <mat-list-item>
            <mat-icon>bug_report</mat-icon>
            Report a bug about the
            <a href="https://github.com/jianping-grp/b17r/issues/new" target="_blank">backend</a> or
            the <a target="_blank" href="https://github.com/jianping-grp/ng-chembl/issues/new">frontend</a>.
          </mat-list-item>
        </p>
<!--        <small><i>*Graphiql interface is working in progress.</i></small>-->
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mdl-cell mdl-cell--12-col">
    <mat-card>
      <mat-card-header class="card-header">
        <mat-card-title>
          <h6>Bioactivity-explorer screenshots montage
            <mat-divider></mat-divider>
          </h6>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/img/screenshot-montage.jpg" alt="screenshots">
      <mat-card-content>
        <mat-divider></mat-divider>
        <p class="card-content">
          <b>Data statistics:</b>
          <mat-list-item>
            Target-target interactions in term of shared molecules: 1,330,220
          </mat-list-item>
          <mat-list-item>
            Target-target interactions in term of shared scaffolds: 4,526,718
          </mat-list-item>
          <mat-list-item>
            Molecule-molecule interactions in term of shared targets: 97,041,700
          </mat-list-item>
          <mat-list-item>
            Curated activities (used in data minings such as MMP identification): 2,649,679
          </mat-list-item>
          <mat-list-item>
            Matched molecular pairs (MMPs): 31,400,000
          </mat-list-item>
          <mat-list-item>
            Scaffolds: 493,430
          </mat-list-item>
          <mat-list-item>
            Scaffold activities: 1,276,444
          </mat-list-item>
          <mat-list-item>
            Disease-target mappings: 1,824
          </mat-list-item>
        </p>
        <p>For instructions of using Bioactivity-explorer, please refer to the <a (click)="goHelp()">help page</a>.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
