<dl>
  <dt class="mdl-typography--title">Title:</dt>
  <dd>{{doc?.title}}</dd>
  <dt class="mdl-typography--title">Auth:</dt>
  <dd>{{doc?.authors}}</dd>
  <dt class="mdl-typography--title">Year</dt>
  <dd>{{doc?.year}}</dd>
  <dt class="mdl-typography--title">PubMed:</dt>
  <dd><a href="{{doc?.pubmed_id | webLink: 'pubmed'}}">{{doc?.pubmed_id}}</a></dd>
  <dt class="mdl-typography--title">DOI:</dt>
  <dd><a href="{{doc?.doi | webLink: 'doi'}}">{{doc?.doi}}</a></dd>
  <dt class="mdl-typography--title">Abstract:</dt>
  <dd>{{doc?.abstract}}</dd>
</dl>
