<mat-table #table [dataSource]="activityListSource" matSort>
  <ng-container matColumnDef="assay">
    <mat-header-cell *matHeaderCellDef>Assay</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.assay}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="molregno">
    <mat-header-cell *matHeaderCellDef>Compounds</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <app-jsme [elementId]="row.activity_id"
                [molString]="row.molregno | molregnoToSmiles | async"
                [width]="100"
                [height]="100"
                [option]="'depict nozoom noshowdraganddropsymbolindepictmode'"
      ></app-jsme>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="pchembl_value">
    <mat-header-cell *matHeaderCellDef mat-sort-header>pChEMBL value</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.pchembl_value}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="standard_type">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Standard type</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.standard_type}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="standard_relation">
    <mat-header-cell *matHeaderCellDef>Standard relation</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.standard_relation}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="standard_value">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Standard value</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.standard_value | number: '1.1-2'}} {{row.standard_units}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator #paginator
               [length]="activities?.length"
               [pageSize]="5"
               [pageIndex]="0"
               [pageSizeOptions]="[5, 20, 50]">
</mat-paginator>