<form #keywordSearchForm="ngForm" (ngSubmit)="submit()">
  <mat-form-field>
    <mat-select placeholder="Search type" [(ngModel)]="selectedType" name="keywordSearchType">
      <mat-option *ngFor="let searchTypeEl of searchTypeList" [value]="searchTypeEl.value">
        {{searchTypeEl.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput [placeholder]="getKeywordPlaceholder()" [(ngModel)]="keyword" required name="keyword">
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="keywordSearchForm.invalid">Submit</button>
</form>