<!--TARGET BASIC INFORMATION-->
<table class="mdl-data-table mdl-shadow--2dp">
  <tr>
    <th>Title</th>
    <td class="mdl-data-table__cell--non-numeric">
      <b>
        {{doc?.title}}
      </b>
    </td>
  </tr>
  <tr>
    <th>Authors</th>
    <td class="mdl-data-table__cell--non-numeric">
      {{doc?.authors}}
    </td>
  </tr>
  <tr>
    <th>Journal</th>
    <td class="mdl-data-table__cell--non-numeric">
      {{doc?.journal}}
      ({{doc?.year}})
      [{{doc?.issue}}]
      {{doc?.first_page}} -
      {{doc?.last_page}}
    </td>
  </tr>
  <tr>
    <th>Target</th>
    <td class="mdl-data-table__cell--non-numeric">
      <span *ngFor="let target of targetTypeList">
        <button mat-button color="accent" appViewPageById idType="target" pageId="{{target?.tid}}">
          {{target?.pref_name}}
        </button>
      </span>
    </td>
  </tr>
  <tr>
    <th>Abstract</th>
    <td class="mdl-data-table__cell--non-numeric">
      {{doc?.abstract}}
    </td>
  </tr>
</table>
<nav mat-tab-nav-bar>
  <a mat-tab-link
     [routerLink]="'activity-table'"
     routerLinkActive #rat="routerLinkActive"
     [active]="rat.isActive">Activity table</a>
  <a mat-tab-link
     [routerLink]="'mmp'"
     routerLinkActive #rmmp="routerLinkActive"
     [active]="rmmp.isActive">MMP</a>
</nav>
<router-outlet></router-outlet>
